rich
Flask
flask-login
pydantic # Neccesary for config.py
pydantic-settings
flask-sqlalchemy
python-dotenv


# gunicorn  # Neccesary for app.yaml
# requests
# psycopg2-binary
# flask_swagger_ui
# flask_validator # Validation for string, countries, etc.
# pyshorteners # URL shortener
# Werkzeug==2.2.2