rich
Flask
flask-login
pydantic # Neccesary for config.py
pydantic-settings



# gunicorn  # Neccesary for app.yaml
# Flask==2.2
# python-dotenv
# rich>=11.2.0
# requests
# flask-sqlalchemy==2.5.1
# flask-sqlalchemy==3.0.2
# psycopg2-binary
# flask_swagger_ui
# flask_validator # Validation for string, countries, etc.
# pyshorteners # URL shortener
# Werkzeug==2.2.2